.page-holding {
	.section {
		&-top {
			background-image: url('../images/hdr-bg.png');	
		    padding-top: 30px;
		    padding-bottom: 35px;
		    border-bottom: dashed 1px #DAD7D7;

			&-img {
				text-align: center;
			}
		}

		&-mid {
			background-image: url(../images/pattern_bg.png);
			padding-top: 50px;
			padding-bottom: 50px;	

			@include breakpoint(max-width $screen-lg - 1) {
				padding-top: 0;
				padding-bottom: 0;
			}	

			&__hdr {
				color:$dark;
				letter-spacing: 0px;
    			text-align: center;
    			font-size: em(45);
    			text-transform: uppercase;
    			letter-spacing: 1px;
    			padding-bottom: 45px;
    			padding-top: 20px;    

    			@include breakpoint(max-width $screen-sm - 1) {
    				line-height: 1.2;
    				padding-bottom: 25px;
    				padding-top: 0;
    				font-size: em(35);
    			}			
			}	

			&__para {
				font-size: em(18);
    			padding-top: 35px;
    			max-width: 700px;
    			margin: 0 auto;
    			text-align: center;
    			color: #737373;
    			font-family: $ff-primary--light;
			}

			.container-single-tiles {
				.single-tile {
					border:3px solid $light;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

					&__number {
						opacity: 0.8;
    					font-size: em(30);
    					font-family:$ff-primary--light;
					}

					&__subhdr {
						font-size: em(45);
    					letter-spacing: 2px;
    					font-family:$ff-primary;
					}
				}
			}

			.holding-form {
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 50px;

				@include breakpoint(max-width $screen-sm - 1) {
					padding-top: 30px;
				}

				&__label,
				&__select {
					font-size: em(14);
					font-family: $ff-primary--semibold;
					margin-bottom: 10px;
    				margin-top: 20px;
    				display: block;		
    				transition:none;

				}

				&__select  {
					height:40px;
					width:100%!important;
					padding-left: 15px!important;

					@include breakpoint(max-width $screen-md - 1) {
						padding-left: 5px!important;
					}
				}			

				&__input {
					outline:0!important;
					width:100%!important;
				}

				&__btn {
					margin-top: 30px;
				}
			}

			.send-image {
				height: 520px;
			    width: 300px;
			    margin: 0 auto;
				@include background-contain();
				background-image: url('../images/svgs/paper-plane.svg');

				@include breakpoint(max-width $screen-md - 1) {
					display:none;
				}
			}
		}

		&-bottom {
			background-image: url(../images/tile-pickout.png);
			padding-top: 50px;
			padding-bottom: 50px;
			border-top: 1px dashed $light;		

			&__para {
				text-align: center;
    			font-size: em(55);
    			color: #47E0D9;
    			line-height: 1.2;

    			@include breakpoint(max-width $screen-md - 1) {
    				font-size: em(50);
    			}

    			@include breakpoint(max-width $screen-sm - 1) {
    				font-size: em(45);
    			}
			}	

		}
	}

	.container-fill {
		@include container-fill();
		padding: 30px 50px 60px 50px;

		@include breakpoint(max-width $screen-sm - 1) {
			padding-left: 15px;
    		padding-right: 15px;
		}
	}
}