.featured-section-title {
	background-image:url('../images/sowing-needle.png');
	background-repeat:no-repeat;
	background-size:cover;

	&--front {
		background-position-y:center;
	}

	&.mar-btm {
		margin-bottom:25px;

		@include breakpoint(max-width $screen-sm - 1) {
			margin-top: 15px;
		    margin-left: 15px;
		    margin-right: 15px;
		    margin-bottom: 0;
		}
	}

	@include breakpoint(max-width $screen-sm - 1) {
		font-size: em(14);
	}

	&--fabric {
		background-image:url('../images/rolls.png');
	}

	&--wallpaper {
		background-image:url('../images/funky-wall.png');
		background-position-y: center;
	}

	&--wrapping {
		background-image:url('../images/light-wallpaper.png');		
	}

	&--accessories {
		background-image:url('../images/pillows.png');		
		background-position-y: center;
	}	

	&__hdr {
		color:$light;
		font-size:em(45);
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 50px;

		&.minor-center {
			padding-left:0;
			text-align:center;
			font-size:em(35);
    		padding-top: 35px;
    		padding-bottom: 35px;	
    		padding-left: 15px;		
    		padding-right: 15px;

    		@include breakpoint(max-width $screen-sm - 1) {
    			padding-top: 20px;
    			padding-bottom: 23px;
			    padding-left: 15px;
			    padding-right: 15px;
    		}

    		@include breakpoint(max-width $screen-xxs - 1) {
			    padding-top: 10px;
			    padding-bottom: 13px;
    		}
		}

		@include breakpoint(max-width $screen-sm - 1) {
			padding-left: 0;
			text-align:center;
			line-height: 1;
		}
	}
}
