.promo-code {

	&__hdr {
		font-size: em(19);
		padding-bottom: 20px;
		padding-top: 20px;

		@include breakpoint(max-width $screen-sm - 1) {
			padding-left: 15px;
		}
	}

	&__link {
    	margin-top: 65px;
    	display: block;

    	@include breakpoint(max-width $screen-sm - 1) {
    		margin-top: 20px;
    		margin-left: 20px;
    		display: inline-block;    		
    	}

    	@include breakpoint(max-width $screen-xs - 1) {
    		position: relative;
    	}
	}

	&-inner {
		padding: 20px 30px 45px 30px;
		background-color:#f6f6f6;
		max-width: 500px;

		@include breakpoint(max-width $screen-sm - 1) {
			max-width: none;
			padding-left: 15px;
    		padding-right: 15px;
		}

		&__para {
			padding-bottom: 10px;
			font-family: $ff-primary--semibold;
			font-size:em(15);
		}
		&__input {
			width: 100%;
    		height: 38px;			
		}
		&__btn {
			padding-top: 8px;
			padding-bottom: 8px;
			width: 100%;
			max-width: none;
		}
	}

	.boot-style {
		padding-right: 0;
	}

	.mention-me {
		float: right;
		margin-top: 10px;
	}

}