.ajax-build-widget {
  span {
    font-size: 1.4em;
    line-height: 20px;
  }
  button {
    font-size: 1em;
    margin: 0 auto;
    display: table;
  }
  .layout {
    float: left;
    margin-right: 20px;
  }
  .checkout-input-field {
    margin-bottom: 1em;
  }
  .btn-tertiary {
    margin-top: 30px;
  }
  .link-content {
    margin-top: 100px !important;
  }
}

.design-approvals .result {
  margin-top: 1em;
}